/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --flame-blue: #0047ab;
  --flame-light-blue: #1e90ff;
  --flame-dark: #003366;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f3f4f6;
}
